.container{
    max-width: 500px;
    margin: 0;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;
}

.main-content {
    padding-top: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.top-button{
    width: 200px;
}

.item{
    margin-bottom: 8px;
}

.content{
    display: flex;
}

.left{
    margin-right: 24px;
}

.sports-buttons{
    display: flex;
}

.button-add{
    margin-right: 10px;
}

.sports-content{
    display: flex;
    flex-direction: column;
}

.no-item{
    display: none;
}


.right-add{
    margin-bottom: 24px;
}

.input{
    width: 150px;
    height: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    margin-right: 16px;
}

.delete{
    width: 100px;
}

.sport-button{
    margin-bottom: 16px;
}